# Don't track editor and OS specific files
.DS_Store
.vscode/

# Don't track figures
figures/

# Dont' track jl files 
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
*.jld

# Dont' track Manifest.toml
Manifest.toml